{% extends "base.html" %}
{% block title %}SentinelSupport - Reset Password{% endblock %}

{% block content %}
<div class="reset-page">
  <div class="reset-card">
    <h3>Reset Your Password</h3>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="reset-form-group">
        {{ form.password(class="reset-input", placeholder="New Password") }}
      </div>
      <div class="reset-form-group">
        {{ form.confirm_password(class="reset-input", placeholder="Confirm Password") }}
      </div>
      {{ form.submit(class="reset-btn") }}
    </form>
  </div>
</div>
{% endblock %}
